body{
    margin:0;
    background-color: aliceblue;
    
}

.box{
    padding: 5px;
    border: solid black 2px;
    height: 100%;
    width:100%;
    background-color: white;
}

.container{
    padding-top: 20px;
    display: grid;
    width: 90vw;
    height: 70vh;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}


#title{
    margin: 0 auto;
    margin-top:10px;
    border: 2px solid black;
    text-align: center;
    display:flex;
    padding: 10px;
    justify-content: center;
    width:20vw;
    background-color: white;
}

.reset, .NewGrid{
    margin: 20px;
    text-align: center;
    padding:5px;
}

#resetBtn, #NewGridBtn{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#resetBtn:hover, #NewGridBtn:hover{
    background-color: grey;
}

#body{
    border:lightgrey solid 2px;
    height:100vh;
    margin: 0 50px;
    background-color: aliceblue;
}