body{
    margin:0;
}

.box{
    padding:5px;
    border: solid black 2px;
    height: 20px;
    width:20px;
    border-bottom: 0;
    border-right: 0;
    background-color: white;
}
.container{
    
    display: flex;
    width: 90vw;
    height: 90vh;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}



.last-row{
    border-bottom: 2px solid black;
}

.right-most-column{
    border-right: 2px solid black;
}

#title{
    margin: 0 auto;
    margin-top:10px;
    border: 2px solid black;
    text-align: center;
    display:flex;
    padding: 10px;
    justify-content: center;
    width:20vw;


}
