body{
    margin:0;
    
    
}

.box{
    padding:5px;
    border: solid black 2px;
    height: 20px;
    width:20px;
    border-bottom: 0;
    border-right: 0;
    background-color: white;
}

.container{
    
    display: flex;
    width: 90vw;
    height: 70vh;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}



.last-row{
    border-bottom: 2px solid black;
}

.right-most-column{
    border-right: 2px solid black;
}

#title{
    margin: 0 auto;
    margin-top:10px;
    border: 2px solid black;
    text-align: center;
    display:flex;
    padding: 10px;
    justify-content: center;
    width:20vw;
    background-color: white;
}

.reset{
    margin: 20px;
    text-align: center;
    padding:5px;
}

#resetBtn{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#resetBtn:hover{
    background-color: grey;
}

#body{
    border:lightgrey solid 2px;
    height:100vh;
    margin: 0 50px;
    background-color: aliceblue;
}

